@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cardo";
    src: url("/fonts/Cardo/Cardo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cardo";
    src: url("/fonts/Cardo/Cardo-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cardo";
    src: url("/fonts/Cardo/Cardo-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira";
    src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira";
    src: url("/fonts/Fira_Sans/FiraSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira";
    src: url("/fonts/Fira_Sans/FiraSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Fira";
    src: url("/fonts/Fira_Sans/FiraSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

:root {
    --gap: 24px;
    --transition: 75ms;
}

body {
    /*--base: #faf4ed;*/
    --base: #fff;
    --base-dark: #1b1b1b;
    /*--surface: #fffaf3;*/
    --surface: rgba(0, 0, 0, 0.05);
    /*--surface-dark: #1f1d2e;*/
    --surface-dark: #171717;
    /*--overlay: #f2e9e1;*/
    --overlay: rgba(0, 0, 0, 0.08);
    /*--overlay-dark: #26233a;*/
    --overlay-dark: var(--surface-dark);
    --gold: #ea9d34;
    --gold-text: #db8510;
    --gold-muted: #f6c177;
    --gold-muted-tr: #f6c1772b;
    --foam: #9ccfd8;
    --foam-darker: #c;
    --foam-tr: #9ccfd82b;
    --lightgreen: #9cd8a0;
    --lightgreen-tr: #9cd8a02b;
    --rose-muted: #ebbcba;
    --iris: #c4a7e7;
    --iris-muted: #D1BBEC;
    /* WCAG AA */
    --iris-muted-tr: #D1BBEC2b;
    --pine: #31748f;
    --pine-darker: #24586A;
    /* WCAG AA for tip boxes */
    --pine-even-darker: #245666;
    /* WCAG AA for btw boxes */
    --pine-muted: #3e8fb0;
    /* Not actually the Rosé Pine light text color, but this one (Moon Overlay color) has far better contrast while still fitting in with the theme */
    /*--text: #393552;*/
    --text: #252237;
    --text-highlighted: var(--text);
    --text-light: #e2e2e2;
    --link: var(--pine);
    --link-highlighted: var(--pine-even-darker);
    --muted: #9893a5;
    /*--subtle: #797593; */
    --subtle: #6D6986;
    /* WCAG AA */
    --highlight: #dfdad9;
    --highlight-low: #f4ede8;
    --highlight-med: #dfdad9;
    --highlight-high: #cecacd;
    --radius: 8px;
    --content-gap: 1.8rem;
    --slider-height: 8px;
    --body-font: 'et-book', 'Cardo';
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--text);
    padding: 0;
    margin: 0;
    background-color: var(--base);
}

.frontpage {
    font-size: 1.6rem;
}

abbr {
    font-variant: all-small-caps;
    font-size: 115%;
}

blockquote {
    border-left: 1px solid var(--text);
    padding-left: var(--content-gap);
}

main img {
    max-width: 100%;
}

figure img {
    width: unset;
}

figure {
    margin-bottom: calc(2 * var(--gap));
    text-align: center;

    figcaption {
        font-size: 1.1rem;
        text-align: center;
    }
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        background-color: transparent;
    }
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: var(--foam);
}

input[type="range"]::-moz-range-track {
    background-color: var(--text-light);
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    overflow: visible;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: transparent;
    background: var(--foam);
    z-index: 0;
}

a,
a:visited {
    color: var(--link);
}

::selection {
    background-color: var(--foam-darker);
    color: var(--base-dark);
}

ol {
    counter-reset: ol-counter;
    list-style: none;
}

ol>li {
    break-inside: avoid-column;
    margin-bottom: calc(0.5 * var(--gap));
}

ol>li::before {
    counter-increment: ol-counter;
    content: counter(ol-counter);
    color: var(--muted);
    margin-left: calc(-1.5 * var(--gap));
    position: absolute;
    border: 1px solid currentColor;
    width: 0.9em;
    height: 0.9em;
    font-size: 0.7em;
    margin-top: 0.35em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 0.7em;
    padding: 0.05em;
}

ul {
    list-style-type: disc;
}

ul>li::marker {
    color: var(--muted);
}

main {
    max-width: 50%;
    margin: auto;
    margin-top: 48px;
    padding: 20px;

    @media (max-width: 600px) {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 75%;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;

    a,
    a:visited {
        color: var(--text);
        text-decoration: none;
    }
}

header {
    position: relative;
    z-index: 2;
}

#logo-full {
    opacity: 0;
    transition: all var(--transition);
}

#logo:hover #logo-full {
    opacity: 1;
}

h1 {
    font-size: 64px;
    font-style: italic;
}

h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
    margin-top: calc(3 * var(--gap));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;

    a {
        color: var(--text);
        text-decoration: none;

        &:visited {
            color: var(--text);
        }
    }

    :hover {
        &:before {
            content: "§";
            display: block;
            position: absolute;
            text-decoration: none;
            color: var(--muted);
            border: none;
            margin-left: -1em;
            margin-top: -4px;
        }
    }
}

pre,
code {
    font-size: 16px;
}

pre {
    padding: 10px;
    border-radius: var(--radius);
    max-height: 500px;
    overflow: scroll;
    line-height: 1.5rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
    text-align: start;
}

table th {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border-bottom: 1px solid var(--muted);
    text-align: start;
}

table td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border-bottom: 1px solid var(--muted);
    font-size: 1.3rem;
}

.subtitle {
    color: var(--subtle);
}

.dateline {
    margin-top: -18px;
    font-size: 18px;
}

.note::before {
    content: var(--note-type-title);
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: var(--body-font);
    border-bottom: 1px solid currentColor;
}

.note {
    background-color: var(--note-type-bg);
    padding: 15px;
    border-radius: var(--radius);
    color: var(--text-highlighted);
    line-height: 130%;
    margin-bottom: var(--content-gap)
}

.note {
    --note-type-title: "Note";
    --note-type-bg: var(--foam);
}

.note>p:last-of-type {
    margin-bottom: 0;
}

.post-content .highlight pre {
    margin-bottom: var(--content-gap);
}

.tip {
    --note-type-title: "Tip";
    --note-type-bg: var(--lightgreen);
}

.warning {
    --note-type-title: "Warning";
    --note-type-bg: var(--gold-muted);
}

.btw {
    --note-type-title: "By the way";
    --note-type-bg: var(--iris-muted);
}

.tip a,
.note a {
    color: var(--pine-darker);
}

.btw a {
    color: var(--pine-even-darker);
}

aside {
    margin-bottom: var(--gap);
}

.sidenote {
    font-size: 80%;
    position: relative;
    margin-bottom: var(--gap);
}

/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: right;
        clear: right;
        margin-right: -23vw;
        text-align: left;
        width: 20vw;
        padding-left: 5px;
    }
}

/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: right;
        text-align: left;

        width: 100%;
        margin: 1rem 0;
        padding-left: 15%;
    }
}

/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 8px;
}

.sidenote {
    font-size: 80%;
    line-height: 140%;
}

/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    position: relative;
    vertical-align: baseline;
    font-size: 0.7em;
    top: -0.7rem;
    font-weight: bold;
    margin-left: 0.2rem;
}

.sidenote-ref::after {
    content: " "; // U+2009 Thin Space
    background-color: var(--base);
}

.sidenote-ref {
    margin-right: -.4rem;
}

/* Highlight the sidenote when mouse hovers on the sidenote number or ref in body, and vice versa. */
@media (min-width: 1400px) {

    .sidenote,
    .sidenote-ref,
    .sidenote *,
    .sidenote-ref * {
        transition: all var(--transition);
    }

    .sidenote-ref:hover {
        color: var(--text-highlighted);
        background-color: var(--gold-muted);
    }

    // .sidenote-ref:hover code {
    //     color: var(--text);
    // }

    .sidenote code {
        display: inline-block;
    }

    .sidenote-ref:hover a {
        color: var(--link-highlighted);
    }

    .sidenote-ref:hover>.sidenote-number>.sidenote {
        color: var(--text-highlighted);
    }

    .sidenote-number:hover .sidenote {
        background-color: var(--gold-muted);
    }

    .sidenote-ref:hover .sidenote {
        background-color: var(--gold-muted);
    }
}

/* Margin notes should be un-numbered */
.sidenote.marginnote::before {
    visibility: hidden;
    margin: 0;
    display: none;
}

/* Add some parentheses, to make it read well in "reader mode" things */
.sidenote-surroundings {
    display: none;
}

.toc {
    border: none;
    float: left;
    clear: left;
    position: fixed;
    left: 0;
    top: 0;
    // font-size: 1.2rem;
    font-family: Fira;
    // font-variant: all-small-caps;
    max-width: 320px;
    margin-left: calc(-1 * var(--gap));
    background: 0 0 !important;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    margin: 0 2px 40px;
    margin-left: 2px;
    border-radius: var(--radius);
    padding: .4em;

    @media (max-width: 1400px) {
        display: none;
    }

    ul {
        padding: 0;
        padding-left: 10px;
        list-style-type: none;
        line-height: 1.5rem;

        li {
            margin-bottom: 8px;

            ul {
                margin-top: 8px;
            }
        }

        a {
            font-size: 16px;
            color: var(--subtle);
            text-decoration: none;

            transition: all var(--transition);

            &.active {
                font-weight: bold;
                font-size: 17px;
                color: var(--gold-text);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

li p {
    margin-top: 10px;
    margin-bottom: 10px;
}