<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="stylesheet" href={{get_url(path='/style.css' , cachebust=true)}}>
  <link rel="stylesheet" href={{get_url(path='/dark.css' , cachebust=true)}}
    media="screen and (prefers-color-scheme: dark)">
  <link rel="preload"
    href="/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot"
    as="font" crossorigin="anonymous" />
  <link rel="preload" href="/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot" as="font"
    crossorigin="anonymous" />
  <link rel="preload" href="/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot" as="font"
    crossorigin="anonymous" />
  <link rel="preload" href="/fonts/Fira_Sans/FiraSans-Regular.ttf" as="font" crossorigin="anonymous" />
  <link rel="preload" href="/fonts/Fira_Sans/FiraSans-Bold.ttf" as="font" crossorigin="anonymous" />
  <link rel="preload" href="/fonts/Fira_Sans/FiraSans-Italic.ttf" as="font" crossorigin="anonymous" />
  <link rel="preload" href="/fonts/Fira_Sans/FiraSans-BoldItalic.ttf" as="font" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />

  <title>{% if page %}{{page.title}} \ {% endif %} ~bharadwaj</title>
</head>

<body>
  <header>
    <nav>
      <a href="/" id="logo">~<span id="logo-full">bharadwaj</span></a>
      <div id="menu">
        <a href="/posts/">Posts</a>
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
