{% extends "base.html" %}

{% block content %}
<main class="frontpage">
  <h1 class="title">
    Hi!
  </h1>
  <p>
    I’m Bharadwaj Raju. I’m a student at the <a href="https://scis.uohyd.ac.in/">University of Hyderabad</a>, a <a
      href="https://invent.kde.org/bharadwaj-raju">KDE developer</a>, and a current mentee in the Spring 2025 term of the <a href="https://mentorship.lfx.linuxfoundation.org/project/89482d7c-3096-4119-aa0e-81bf33a370d6">Linux Kernel Mentorship Project</a>.
  </p>
  <p>
    <a href="https://github.com/bharadwaj-raju">GitHub</a> / <a href="https://gitlab.com/bharadwaj-raju">GitLab</a>
  </p>
  <p>
    I’m particularly interested in systems programming, computer modelling, procedural generation, and
    human&ndash;computer interaction.
  </p>
</main>
{% endblock content %}
